* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 650px) {
  .header .header__main-logo {
    height: 30px;
    display: block;
    object-fit: contain;
    object-position: center center;
  }
}
.header .header__main-logo:hover {
  cursor: pointer;
}
.header .header__contacts {
  position: relative;
  left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .header .header__contacts {
    display: none;
  }
}
.header .header__contacts:hover {
  cursor: pointer;
}
.header .header__contacts .header__contacts-images {
  object-fit: contain;
  display: block;
  height: 28px;
  width: auto;
}
.header .header__contacts .header__phone {
  font-weight: 700;
  font-size: 16px;
}
.header .header__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header .header__icons .header__star-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 19px;
}
@media screen and (max-width: 650px) {
  .header .header__icons .header__star-icon {
    margin-right: 10px;
  }
}
.header .header__icons .header__star-icon:hover {
  cursor: pointer;
}
.header .header__icons .header__star-icon .header__star-icon-img {
  position: relative;
  max-height: 40px;
  height: 100%;
  width: auto;
}
.header .header__icons .header__star-icon .header__star-count {
  position: absolute;
  left: -6px;
  bottom: -4px;
  font-size: 12px;
  color: white;
  background: #E52E2E;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header .header__icons .header__basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  margin-right: 47px;
}
@media screen and (max-width: 650px) {
  .header .header__icons .header__basket {
    margin-right: 10px;
  }
}
.header .header__icons .header__basket:hover {
  cursor: pointer;
}
.header .header__icons .header__basket .header__basket-icon {
  display: flex;
  flex-direction: row;
  position: relative;
}
.header .header__icons .header__basket .header__basket-icon .header__basket-icon-img {
  position: relative;
  max-height: 40px;
  height: 100%;
  width: auto;
}
.header .header__icons .header__basket .header__basket-icon .header__basket-count {
  position: absolute;
  left: -6px;
  bottom: -4px;
  font-size: 12px;
  color: white;
  background: #E52E2E;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header .header__icons .header__basket .header__basket-text {
  font-size: 14px;
}
@media screen and (max-width: 650px) {
  .header .header__icons .header__basket .header__basket-text {
    display: none;
  }
}
.header .header__icons .header__account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header .header__icons .header__account:hover {
  cursor: pointer;
}
.header .header__icons .header__account .header__account-icon {
  max-height: 40px;
  height: 100%;
  width: auto;
}
.header .header__icons .header__account .header__account-text {
  font-size: 14px;
}
@media screen and (max-width: 650px) {
  .header .header__icons .header__account .header__account-text {
    display: none;
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background: #FFC045;
  border-radius: 7px;
}
@media screen and (max-width: 650px) {
  .search-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    border-radius: 0;
    padding-right: 25px;
  }
}
.search-bar .menu {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 50px;
  width: 195px;
}
@media screen and (max-width: 650px) {
  .search-bar .menu {
    padding-left: 0;
    padding-right: 0;
    gap: 15px;
  }
}
@media screen and (max-width: 650px) {
  .search-bar .menu {
    background: inherit;
  }
}
.search-bar .menu:hover {
  cursor: pointer;
}
.search-bar .menu .menu__burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.search-bar .menu .menu__burger .menu__line {
  display: block;
  width: 20px;
  height: 3px;
  background: black;
}
.search-bar .menu .menu__text {
  font-weight: 700;
  font-size: 16px;
}
.search-bar .search-field {
  display: flex;
  flex: 1;
  padding: 17px 19px;
  border: none;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #848484;
}
.search-bar .search-field:active, .search-bar .search-field:focus {
  outline: none;
  border: none;
}
@media screen and (max-width: 650px) {
  .search-bar .search-field {
    display: none;
  }
}
.search-bar .search-button {
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #E52E2E;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
@media screen and (max-width: 650px) {
  .search-bar .search-button {
    display: none;
  }
}
.search-bar .search-button:hover {
  cursor: pointer;
}
.search-bar .search-icon-button {
  display: none;
}
@media screen and (max-width: 650px) {
  .search-bar .search-icon-button {
    display: block;
  }
}

.super-tires {
  height: 240px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media screen and (max-width: 650px) {
  .super-tires {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }
}
.super-tires .super-tires-image {
  display: block;
  height: 240px;
  max-width: 100%;
  object-fit: cover;
  object-position: center right;
}
.super-tires .super-tires-image.mobile-version {
  display: none;
}
@media screen and (max-width: 450px) {
  .super-tires .super-tires-image.mobile-version {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .super-tires .super-tires-image {
    height: 220px;
  }
}
@media screen and (max-width: 450px) {
  .super-tires .super-tires-image {
    display: none;
  }
}
.super-tires .super-left-arrow {
  position: absolute;
  left: 18px;
}
.super-tires .super-left-arrow:hover {
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .super-tires .super-left-arrow {
    display: none;
  }
}
.super-tires .super-right-arrow {
  position: absolute;
  right: 18px;
}
.super-tires .super-right-arrow:hover {
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .super-tires .super-right-arrow {
    display: none;
  }
}
.super-tires .breadcrumbs_container {
  display: none;
  flex-direction: row;
  position: absolute;
  align-self: end;
  justify-content: center;
  gap: 4px;
  left: 0;
  right: 0;
  bottom: 15px;
  z-index: 10;
}
@media screen and (max-width: 450px) {
  .super-tires .breadcrumbs_container {
    display: flex;
  }
}
.super-tires .breadcrumbs_container .circle {
  z-index: 5;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: white;
}
.super-tires .breadcrumbs_container .circle.circle-red {
  background-color: #E52E2E;
}

.moto-tabs {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  margin-top: 41px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 650px) {
  .moto-tabs {
    margin-top: 20px;
  }
}
.moto-tabs::-webkit-scrollbar {
  display: none;
}
.moto-tabs::-webkit-scrollbar-thumb {
  display: none;
}
.moto-tabs .moto-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9B9B9B;
}
.moto-tabs .moto-tab:hover {
  cursor: pointer;
  user-select: none;
}
.moto-tabs .moto-tab .moto-tab-text {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-style: normal;
}
@media screen and (max-width: 650px) {
  .moto-tabs .moto-tab .moto-tab-text {
    font-size: 16px;
  }
}
.moto-tabs .moto-tab:nth-child(1) {
  margin-right: 35px;
}
@media screen and (max-width: 650px) {
  .moto-tabs .moto-tab:nth-child(1) {
    margin-right: 33px;
  }
}
.moto-tabs .moto-tab:nth-child(2) {
  margin-right: 43px;
}
@media screen and (max-width: 650px) {
  .moto-tabs .moto-tab:nth-child(2) {
    margin-right: 33px;
  }
}
.moto-tabs .moto-tab .input_radio {
  display: none;
}
.moto-tabs .moto-tab .moto-tab-line {
  position: relative;
  z-index: 3;
  margin-top: 13px;
  display: none;
}
.moto-tabs .moto-tab:has(input:checked) {
  color: #111111;
}
.moto-tabs .moto-tab:has(input:checked) .moto-tab-text {
  font-weight: 700;
}
.moto-tabs .moto-tab:has(input:checked) .moto-tab-line {
  position: relative;
  z-index: 9;
  display: block;
  height: 6px;
  background: #E52E2E;
  border-radius: 5px;
  width: calc(100% - 26px);
}
@media screen and (max-width: 650px) {
  .moto-tabs .moto-tab:has(input:checked) .moto-tab-line {
    width: calc(100% - 18px);
  }
}

body .moto-tab-descriptions .moto-tab-description {
  display: none;
}
body .moto-tab-descriptions .moto-tab-2 {
  display: none;
}
body .moto-tab-descriptions .moto-tab-3 {
  display: none;
}

body:has(.tab_2 input:checked) .moto-tab-descriptions .moto-tab-description {
  display: none;
}
body:has(.tab_2 input:checked) .moto-tab-descriptions .moto-tab-2 {
  padding: 38px 42px;
  display: flex;
  background: #EEEFF0;
}

body:has(.tab_3 input:checked) .moto-tab-descriptions .moto-tab-description {
  display: none;
}
body:has(.tab_3 input:checked) .moto-tab-descriptions .moto-tab-3 {
  padding: 38px 42px;
  display: flex;
  background: #EEEFF0;
}

body:has(.tab_1 input:checked) .moto-tab-descriptions {
  position: relative;
  top: -3px;
  z-index: 5;
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description {
  position: relative;
  z-index: 5;
  padding: 38px 42px;
  background: #EEEFF0;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description {
    padding-left: 10px;
    padding-right: 30px;
  }
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column {
  z-index: 2;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (max-width: 1210px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column:nth-child(3) {
    display: none;
  }
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem {
  height: 32px;
  width: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
}
@media screen and (max-width: 650px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem {
    gap: 17px;
  }
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem .moto-elem-img {
  max-height: 32px;
  max-width: 32px;
  width: 100%;
  height: 100%;
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem .moto-elem-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .all-brands {
  position: absolute;
  bottom: -15px;
  right: 33px;
  border-radius: 5px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .all-brands {
    left: 0;
    right: 0;
    justify-items: center;
    align-items: center;
  }
}
body:has(.tab_1 input:checked) .moto-tab-descriptions .moto-tab-description .all-brands .all-button {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
}

.market {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 18px;
  column-gap: 24px;
}
@media screen and (max-width: 1040px) {
  .market {
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 125px) 140px;
    align-items: center;
    justify-items: center;
    gap: 10px;
  }
}
.market .market-elem {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.market .market-elem .market-elem-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.market .market-elem .market-elem-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  object-position: center center;
}
.market .market-elem:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.market .market-elem:nth-child(1) .market-elem-title {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  top: 22px;
  left: 27px;
  width: 117px;
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(1) .market-elem-title {
    font-size: 18px;
    top: 12px;
    left: 10px;
  }
}
.market .market-elem:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.market .market-elem:nth-child(2) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  top: 22px;
  left: 26px;
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(2) .market-elem-title {
    font-size: 18px;
    top: 12px;
    left: 10px;
  }
}
.market .market-elem:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.market .market-elem:nth-child(3) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  top: 20px;
  left: 24px;
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(3) .market-elem-title {
    font-size: 18px;
    top: 12px;
    left: 10px;
  }
}
.market .market-elem:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/3;
}
@media screen and (max-width: 1040px) {
  .market .market-elem:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.market .market-elem:nth-child(4) .market-elem-title {
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  top: 22px;
  left: 26px;
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(4) .market-elem-title {
    font-size: 18px;
    top: 12px;
    left: 10px;
  }
}
.market .market-elem:nth-child(5) {
  grid-column: 4/5;
  grid-row: 1/2;
}
@media screen and (max-width: 1040px) {
  .market .market-elem:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(5) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.market .market-elem:nth-child(5) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  top: 23px;
  left: 26px;
  width: 106px;
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(5) .market-elem-title {
    font-size: 18px;
    top: 12px;
    left: 10px;
  }
}
.market .market-elem:nth-child(6) {
  grid-column: 4/5;
  grid-row: 2/3;
}
@media screen and (max-width: 1040px) {
  .market .market-elem:nth-child(6) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(6) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
.market .market-elem:nth-child(6) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  top: 24px;
  left: 26px;
}
@media screen and (max-width: 650px) {
  .market .market-elem:nth-child(6) .market-elem-title {
    font-size: 18px;
    top: 12px;
    left: 10px;
  }
}
.market-category {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 24px;
}
@media screen and (max-width: 1000px) {
  .market-category {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 650px) {
  .market-category {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 32px;
  }
}
.market-category .market-category-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
@media screen and (max-width: 1000px) {
  .market-category .market-category-column:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .market-category .market-category-column:nth-child(4) {
    display: none;
  }
}
.market-category .market-category-column .market-category-elem {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 37px;
  color: #111111;
}
@media screen and (max-width: 1000px) {
  .market-category .market-category-column .market-category-elem {
    font-size: 16px;
    height: 32px;
  }
}

.geopgraphy {
  display: grid;
  grid-template-columns: 361px auto 817px;
  grid-template-rows: 1fr;
  margin-top: 102px;
  padding-bottom: 59px;
}
@media screen and (max-width: 1260px) {
  .geopgraphy {
    padding-left: 16px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 880px) {
  .geopgraphy {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin-top: 60px;
    padding-bottom: 75px;
  }
}
.geopgraphy .geogrpaphy-text {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: left;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 880px) {
  .geopgraphy .geogrpaphy-text {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 35px;
  }
}
.geopgraphy .geogrpaphy-text .geography-title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #111111;
}
@media screen and (max-width: 1000px) {
  .geopgraphy .geogrpaphy-text .geography-title {
    font-size: 40px;
    line-height: 46px;
  }
}
.geopgraphy .geogrpaphy-text .geography-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #111111;
}
@media screen and (max-width: 1000px) {
  .geopgraphy .geogrpaphy-text .geography-description {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 800px) {
  .geopgraphy .geogrpaphy-text .geography-description {
    max-width: 245px;
  }
}
.geopgraphy .geography-image {
  grid-column: 2/4;
  grid-row: 1/2;
  display: block;
  object-fit: contain;
  object-position: center center;
  max-width: min(100vw - 450px, 876px);
  max-height: 100%;
}
@media screen and (max-width: 880px) {
  .geopgraphy .geography-image {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #EEEFF0;
  border-radius: 7px;
  padding-top: 69px;
  padding-bottom: 69px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
}
@media screen and (max-width: 810px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 27px;
  }
}
.footer .footer-column {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1100px) {
  .footer .footer-column:nth-child(1) {
    grid-template-columns: 1/3;
    grid-template-rows: 1/2;
  }
}
@media screen and (max-width: 1100px) {
  .footer .footer-column:nth-child(2) {
    grid-template-columns: 1/2;
    grid-template-rows: 2/3;
  }
}
@media screen and (max-width: 1100px) {
  .footer .footer-column:nth-child(3) {
    grid-template-columns: 1/2;
    grid-template-rows: 3/4;
  }
}
.footer .footer-column:nth-child(4) {
  position: relative;
  left: 10px;
}
@media screen and (max-width: 1100px) {
  .footer .footer-column:nth-child(4) {
    grid-template-columns: 2/3;
    grid-template-rows: 3/4;
    left: 0;
    width: 40%;
  }
}
@media screen and (max-width: 1100px) {
  .footer .footer-column:nth-child(5) {
    grid-template-columns: 1/3;
    grid-template-rows: 4/5;
  }
}
.footer .footer-column.footer-logo-column {
  display: flex;
  flex-direction: column;
  width: 350px;
}
@media screen and (max-width: 1100px) {
  .footer .footer-column.footer-logo-column {
    width: 100%;
  }
}
.footer .footer-column.footer-logo-column .footer-logo {
  max-height: 34px;
  display: block;
  object-fit: contain;
  object-position: left top;
  margin-bottom: 48px;
}
@media screen and (max-width: 1100px) {
  .footer .footer-column.footer-logo-column .footer-logo {
    margin-bottom: 0;
    max-height: 30px;
  }
}
.footer .footer-column.footer-logo-column .footer-phone {
  text-decoration: inherit;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 12px;
}
@media screen and (max-width: 900px) {
  .footer .footer-column.footer-logo-column .footer-phone {
    display: none;
  }
}
.footer .footer-column.footer-logo-column .footer-social {
  max-width: 100%;
  display: block;
  object-fit: contain;
  object-position: left top;
  max-height: 28px;
  opacity: 0.7;
}
@media screen and (max-width: 900px) {
  .footer .footer-column.footer-logo-column .footer-social {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .footer .footer-column.footer-bank {
    margin-top: 20px;
  }
}
.footer .footer-column.footer-bank .wallet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .footer .footer-column.footer-bank .wallet-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
.footer .footer-column.footer-bank .wallet-grid .wallet-grid-elem {
  display: block;
  object-fit: contain;
  object-position: right;
}
.footer .footer-column .footer-elem.footer-title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
}
.footer .mobile-social-networks {
  display: none;
}
@media screen and (max-width: 900px) {
  .footer .mobile-social-networks {
    display: flex;
  }
}
.footer .mobile-social-networks .mobile-footer-phone {
  text-decoration: inherit;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 12px;
}
.footer .mobile-social-networks .mobile-footer-social {
  max-width: 100%;
  display: block;
  object-fit: contain;
  object-position: left top;
  max-height: 40px;
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
