* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

.main-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__contacts {
  position: relative;
  left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.header .header__contacts .header__contacts-images {
  object-fit: contain;
  display: block;
  height: 28px;
  width: auto;
}
.header .header__contacts .header__phone {
  font-weight: 700;
  font-size: 16px;
}
.header .header__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header .header__icons .header__star-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 19px;
}
.header .header__icons .header__star-icon .header__star-icon-img {
  position: relative;
  max-height: 40px;
  height: 100%;
  width: auto;
}
.header .header__icons .header__star-icon .header__star-count {
  position: absolute;
  left: -6px;
  bottom: -4px;
  font-size: 12px;
  color: white;
  background: #E52E2E;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header .header__icons .header__basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  margin-right: 47px;
}
.header .header__icons .header__basket .header__basket-icon {
  display: flex;
  flex-direction: row;
  position: relative;
}
.header .header__icons .header__basket .header__basket-icon .header__basket-icon-img {
  position: relative;
  max-height: 40px;
  height: 100%;
  width: auto;
}
.header .header__icons .header__basket .header__basket-icon .header__basket-count {
  position: absolute;
  left: -6px;
  bottom: -4px;
  font-size: 12px;
  color: white;
  background: #E52E2E;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header .header__icons .header__basket .header__basket-text {
  font-size: 14px;
}
.header .header__icons .header__account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header .header__icons .header__account .header__account-icon {
  max-height: 40px;
  height: 100%;
  width: auto;
}
.header .header__icons .header__account .header__account-text {
  font-size: 14px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background: #FFC045;
  border-radius: 7px;
}
.search-bar .menu {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 50px;
  width: 195px;
}
.search-bar .menu .menu__burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.search-bar .menu .menu__burger .menu__line {
  display: block;
  width: 20px;
  height: 3px;
  background: black;
}
.search-bar .menu .menu__text {
  font-weight: 700;
  font-size: 16px;
}
.search-bar .search-field {
  display: flex;
  flex: 1;
  padding: 17px 19px;
  border: none;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #848484;
}
.search-bar .search-field:active, .search-bar .search-field:focus {
  outline: none;
  border: none;
}
.search-bar .search-button {
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #E52E2E;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.super-tires {
  height: 240px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.super-tires .super-tires-image {
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  background: url(".");
}
.super-tires .super-left-arrow {
  position: absolute;
  left: 18px;
}
.super-tires .super-right-arrow {
  position: absolute;
  right: 18px;
}

.moto-tabs {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  margin-top: 41px;
}
.moto-tabs::-webkit-scrollbar {
  display: none;
}
.moto-tabs::-webkit-scrollbar-thumb {
  display: none;
}
.moto-tabs .moto-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9B9B9B;
}
.moto-tabs .moto-tab:hover {
  cursor: pointer;
  user-select: none;
}
.moto-tabs .moto-tab .moto-tab-text {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-style: normal;
}
.moto-tabs .moto-tab:nth-child(1) {
  margin-right: 35px;
}
.moto-tabs .moto-tab:nth-child(2) {
  margin-right: 43px;
}
.moto-tabs .moto-tab .input_radio {
  display: none;
}
.moto-tabs .moto-tab .moto-tab-line {
  position: relative;
  z-index: 3;
  margin-top: 13px;
  display: none;
}
.moto-tabs .moto-tab:has(input:checked) {
  color: #111111;
}
.moto-tabs .moto-tab:has(input:checked) .moto-tab-text {
  font-weight: 700;
}
.moto-tabs .moto-tab:has(input:checked) .moto-tab-line {
  position: relative;
  z-index: 9;
  display: block;
  height: 6px;
  background: #E52E2E;
  border-radius: 5px;
  width: calc(100% - 26px);
}

body .moto-tab-descriptions {
  position: relative;
  top: -3px;
  z-index: 5;
}
body .moto-tab-descriptions .moto-tab-description {
  position: relative;
  z-index: 5;
  padding: 38px 42px;
  background: #EEEFF0;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  column-gap: 63px;
}
body .moto-tab-descriptions .moto-tab-description .moto-column {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
body .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem {
  height: 32px;
  width: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
}
body .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem .moto-elem-img {
  max-height: 32px;
  max-width: 32px;
  width: 100%;
  height: 100%;
}
body .moto-tab-descriptions .moto-tab-description .moto-column .moto-elem .moto-elem-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.market {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.market .market-elem {
  position: relative;
}
.market .market-elem .market-elem-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.market .market-elem:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.market .market-elem:nth-child(1) .market-elem-title {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  top: 22px;
  left: 27px;
  width: 117px;
}
.market .market-elem:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.market .market-elem:nth-child(2) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  top: 22px;
  left: 26px;
}
.market .market-elem:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.market .market-elem:nth-child(3) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  top: 20px;
  left: 24px;
}
.market .market-elem:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.market .market-elem:nth-child(4) .market-elem-title {
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  top: 22px;
  left: 26px;
}
.market .market-elem:nth-child(5) {
  grid-column: 4/5;
  grid-row: 1/2;
}
.market .market-elem:nth-child(5) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  top: 23px;
  left: 26px;
  width: 106px;
}
.market .market-elem:nth-child(6) {
  grid-column: 4/5;
  grid-row: 2/3;
}
.market .market-elem:nth-child(6) .market-elem-title {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  top: 24px;
  left: 26px;
}
.geopgraphy {
  margin-top: 119px;
  display: grid;
  grid-template-columns: 321px 95px 817px;
}
.geopgraphy .geogrpaphy-text {
  grid-column: 1/3;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
}
.geopgraphy .geogrpaphy-image {
  max-width: 100%;
  max-height: 100%;
  grid-column: 2/4;
}

/*# sourceMappingURL=style.css.map */
