.header {
  padding-top: 25px;
  padding-bottom: 25px;

  @media screen and (max-width: 650px) {
    padding-top: 15px;
    padding-bottom: 15px;

    padding-left: 10px;
    padding-right: 10px;
  }


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  .header__main-logo {
    @media screen and (max-width: 650px) {
      height: 30px;
      display: block;
      object-fit: contain;
      object-position: center center;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .header__contacts {
    position: relative;
    left: 35px;
    //padding-left: 70px;
    //padding-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1000px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }


    .header__contacts-images {
      object-fit: contain;
      display: block;
      height: 28px;
      width: auto;
    }

    .header__phone {
      font-weight: 700;
      font-size: 16px;
    }


  }


  .header__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    .header__star-icon {
      position: relative;
      display: flex;
      flex-direction: row;

      margin-right: 19px;

      @media screen and (max-width: 650px) {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
      }

      .header__star-icon-img {
        position: relative;
        max-height: 40px;
        height: 100%;
        width: auto;
      }


      .header__star-count {
        position: absolute;
        left: -6px;
        bottom: -4px;

        font-size: 12px;
        color: white;
        background: #E52E2E;
        width: 19px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }


    .header__basket {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 11px;
      margin-right: 47px;

      @media screen and (max-width: 650px) {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
      }


      .header__basket-icon {

        display: flex;
        flex-direction: row;
        position: relative;


        .header__basket-icon-img {
          position: relative;
          max-height: 40px;
          height: 100%;
          width: auto;
        }


        .header__basket-count {
          position: absolute;
          left: -6px;
          bottom: -4px;
          font-size: 12px;
          color: white;
          background: #E52E2E;
          width: 19px;
          height: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }


      .header__basket-text {
        font-size: 14px;

        @media screen and (max-width: 650px) {
          display: none;
        }

      }


    }


    .header__account {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      &:hover {
        cursor: pointer;
      }

      .header__account-icon {
        max-height: 40px;
        height: 100%;
        width: auto;


      }


      .header__account-text {
        font-size: 14px;

        @media screen and (max-width: 650px) {
          display: none;
        }
      }


    }


  }


}

