.super-tires {

  height: 240px;
  margin-top: 20px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @media screen and (max-width: 650px) {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .super-tires-image {
    display: block;
    height: 240px;
    max-width: 100%;
    object-fit: cover;
    object-position: center right;


    &.mobile-version {
      display: none;

      @media screen and (max-width: 450px) {
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }

    @media screen and (max-width: 650px) {
      height: 220px;

    }


    @media screen and (max-width: 450px) {
      display: none;

    }


  }

  .super-left-arrow {

    position: absolute;
    left: 18px;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 450px) {
      display: none;
    }

  }

  .super-right-arrow {

    &:hover {
      cursor: pointer;
    }

    position: absolute;
    right: 18px;

    @media screen and (max-width: 450px) {
      display: none;
    }

  }

  .breadcrumbs_container {

    display: none;
    flex-direction: row;
    position: absolute;
    align-self: end;
    justify-content: center;
    gap: 4px;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 10;


    @media screen and (max-width: 450px) {
      display: flex;
    }

    .circle {
      z-index: 5;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: white;

      &.circle-red {
        background-color: #E52E2E;
      }
    }

  }

}


