
.moto-tabs {
  position: relative;
  z-index: 9;

  display: flex;
  flex-direction: row;

  width: 100%;
  overflow-x: auto;

  margin-top: 41px;

  @media screen and (max-width: 650px) {
    margin-top: 20px;
  }

  padding-left: 10px;
  padding-right: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }


  .moto-tab {


    display: flex;

    flex-direction: column;
    //gap: 10px;
    align-items: center;

    color: #9B9B9B;


    &:hover {
      cursor: pointer;
      user-select: none;
    }

    .moto-tab-text {
      font-size: 18px;
      font-family: 'Arial', sans-serif;
      font-style: normal;

      @media screen and (max-width: 650px) {
        font-size: 16px;
      }

    }

    &:nth-child(1) {
      margin-right: 35px;

      @media screen and (max-width: 650px) {
        margin-right: 33px;
      }

    }

    &:nth-child(2) {
      margin-right: 43px;

      @media screen and (max-width: 650px) {
        margin-right: 33px;
      }
    }


    .input_radio {
      display: none;
    }

    .moto-tab-line {
      position: relative;
      z-index: 3;
      margin-top: 13px;
      display: none;
    }
  }

  .moto-tab:has(input:checked) {
    color: #111111;

    .moto-tab-text {
      font-weight: 700;

    }

    .moto-tab-line {
      position: relative;
      z-index: 9;
      display: block;
      height: 6px;
      background: #E52E2E;
      border-radius: 5px;
      width: calc(100% - 26px);

      @media screen and (max-width: 650px) {
        width: calc(100% - 18px);
      }
    }


  }

}

//body:has(.moto-tab:nth-child(1) input:checked) {
body {
  .moto-tab-descriptions {
    position: relative;
    top: -3px;
    z-index: 5;

    .moto-tab-description {
      position: relative;
      z-index: 5;

      padding: 38px 42px;


      background: #EEEFF0;
      border-radius: 7px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;


      row-gap: 40px;
      justify-content: space-between;
      //column-gap: 63px;

      @media screen and (max-width: 650px) {
        padding-left: 10px;
        padding-right: 30px;
      }

      .moto-column {
        display: flex;
        gap: 16px;
        flex-direction: column;

        &:nth-child(6) {
          @media screen and (max-width: 1210px) {
            display: none;
          }
        }

        &:nth-child(5) {
          @media screen and (max-width: 1040px) {
            display: none;
          }
        }

        &:nth-child(4) {
          @media screen and (max-width: 780px) {
            display: none;
          }
        }

        &:nth-child(3) {
          @media screen and (max-width: 600px) {
            display: none;
          }
        }


        .moto-elem {
          height: 32px;
          width: 135px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          gap: 19px;


          @media screen and (max-width: 650px) {
            gap: 17px;
          }


          .moto-elem-img {
            max-height: 32px;
            max-width: 32px;
            width: 100%;
            height: 100%;
          }


          .moto-elem-text {
            font-family: 'Arial', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
    }
  }
}


